@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 18px; }

body {
  background-color: #dddcca;
  color: #210505;
  font-family: 'Quattrocento', serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  cursor: pointer;
  color: #17680f; }

b, strong {
  font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  font-family: 'Neuton', serif; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  line-height: 105%; }

ul {
  padding-left: 1.5em; }
  ul li {
    list-style-type: disc; }

[v-cloak] {
  display: none; }

@media (min-width: 768px) {
  .mobile-only {
    display: none; } }

@media (max-width: 767px) {
  .desktop-only {
    display: none; } }

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: strech;
  -ms-flex-align: strech;
  -webkit-align-items: strech;
  align-items: strech;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 99vh;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 1.5em; }
  main .inner {
    max-width: 1200px; }

h3 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  display: block; }

blockquote {
  display: block;
  padding: 0 1em;
  position: relative;
  margin-top: 0.35em;
  margin-bottom: 1em;
  line-height: 1.3; }
  blockquote:before {
    content: '“';
    position: absolute;
    top: -0.25em;
    left: 0;
    font-size: 180%;
    font-family: "Times New Roman"; }
  blockquote:after {
    content: '”';
    font-family: "Times New Roman"; }

.accent {
  display: block;
  padding: 0 1em;
  margin-top: 0.35em; }

button {
  color: #dddcca;
  font-size: 2vw;
  background-color: #17680f;
  border: 2px solid #17680f;
  font-family: 'Neuton', serif;
  cursor: pointer;
  padding: 0.1em 1em;
  outline: none; }
  button:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95); }
  button[disabled] {
    background-color: #a84848;
    border-color: #a84848;
    cursor: not-allowed; }

.phase {
  max-width: 1200px; }
  .phase.quote .button-holder {
    margin-top: 4em; }
  .phase.pass h3 {
    font-size: 6.5vw; }
  .phase.pass .button-holder {
    margin-top: 4em; }
  .phase.guess .buttons {
    margin-top: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: strech;
    -ms-flex-align: strech;
    -webkit-align-items: strech;
    align-items: strech;
    max-width: 28vw; }
    .phase.guess .buttons button {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.5em;
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
  .phase.correct {
    text-align: center; }
    .phase.correct h2 {
      font-size: 8em; }
    .phase.correct h4 {
      margin-top: 2em;
      margin-bottom: 2em;
      font-weight: 400;
      font-size: 1.8em; }
  .phase.game-over h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 5vw; }

@media screen and (max-width: 767px) {
  h3 {
    font-size: 5vw; }
  blockquote, .accent {
    font-size: 7vw; }
  button {
    font-size: 5vw; }
  .phase.pass h3 {
    font-size: 10vw; }
  .phase.guess .buttons {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .phase.guess h2 {
    font-size: 7vw;
    margin-top: 1em; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  blockquote, .accent {
    font-size: 4vw; } }

@media screen and (min-width: 1201px) {
  blockquote, .accent {
    font-size: 3.1em; } }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  height: 3.5rem;
  z-index: 4; }
  header > .inner {
    padding-right: 4rem; }
  header span {
    display: block;
    vertical-align: middle; }
  header .label {
    font-size: 0.7em;
    font-family: "Nunito", sans-serif;
    line-height: 200%; }
  header .number {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 50%;
    color: #17680f; }
    header .number.perfect {
      color: #52d88e; }
    header .number.great {
      color: #1eaefc; }
    header .number.okay {
      color: #ca62f0; }
    header .number.bad {
      color: #ecb528; }
    header .number.failure {
      color: #ee2c2c; }
  header > .inner {
    color: #eee;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: strech;
    -ms-flex-align: strech;
    -webkit-align-items: strech;
    align-items: strech;
    padding-top: 0.2rem; }
    header > .inner .box {
      -webkit-flex-basis: 16.6%;
      -ms-flex-preferred-size: 16.6%;
      flex-basis: 16.6%;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      text-align: center;
      height: 2.8em; }
      header > .inner .box.zero {
        opacity: 0; }
  header .hamburger-holder {
    position: absolute;
    top: 0.8rem;
    right: 1rem; }
  header .hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #4885ed;
    outline: none;
    height: 2.25rem;
    width: 2.25rem; }
    header .hamburger svg {
      fill: #f0f1f2; }
    header .hamburger g {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    header .hamburger .close {
      opacity: 0.2;
      -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
      transform: scale(0.2); }
    header .hamburger.is-active .close {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    header .hamburger.is-active .open {
      opacity: 0.2;
      -webkit-transform: scale(0.2);
      -ms-transform: scale(0.2);
      transform: scale(0.2); }

/**
@media (max-width:$max-width) {
  header { 
    //.number { font-size:1.5em;}
    > .inner {
      .box { @include flex-item(33.3333%);
        &.hamburger-holder { @include flex-item(3rem); }
      }
    } 
    .hamburger-holder { text-align: right !important;
      .hamburger { position:relative; top: auto; right:auto; height: 100%;
        svg { height: 1.6rem; }
      }
    }
  }
}

**/
.sidebar-button {
  background: transparent;
  border: none;
  color: #212121;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 10;
  outline: none;
  cursor: pointer; }
  .sidebar-button svg {
    width: 50px;
    height: 50px; }
    .sidebar-button svg * {
      fill: #212121; }
  .sidebar-button .x, .sidebar-button .question-mark {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    fill: #212121; }
  .sidebar-button .fill {
    opacity: 0; }
  .sidebar-button .x {
    opacity: 0;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1); }
  .sidebar-button .question-mark {
    -webkit-transform-style: scale(1);
    transform-style: scale(1); }
  .sidebar-button:hover svg .question-mark, .sidebar-button:hover svg .x {
    fill: #dddcca; }
  .sidebar-button:hover svg .fill {
    opacity: 1; }
  .sidebar-button.active .x {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .sidebar-button.active .question-mark {
    opacity: 0;
    -webkit-transform: scale(0.1) " ";
    -ms-transform: scale(0.1) " ";
    transform: scale(0.1) " "; }

.sidebar {
  position: fixed;
  top: 3.5rem;
  right: 0;
  background: #212121;
  color: #eee;
  width: 14rem;
  padding: 1rem;
  z-index: 3;
  border-left: 1px solid #dddcca;
  border-bottom: 1px solid #dddcca;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .sidebar ul {
    padding: 0; }
  .sidebar li {
    margin-bottom: 0.65em;
    list-style: none; }
  .sidebar .label {
    display: block;
    line-height: 90%; }
  .sidebar .indent {
    display: block;
    padding-left: 1em;
    font-weight: 600; }
  .sidebar a {
    color: #ee2a2a;
    text-decoration: none;
    cursor: pointer; }
    .sidebar a:hover {
      text-decoration: underline; }
  .sidebar .smaller {
    font-size: 0.8em; }
  .sidebar.visible {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.homescreen-help-holder {
  background-color: rgba(221, 220, 202, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  /*
  &.android { @include position(fixed,0,0); max-width: 16em;
    .ios, .edge, .opera, .desktop-chrome { display: none; }
    b { display: block; }
    .tap-that-icon { margin-top: -1.2em; }
    .bottom-center-icon { display:none; }
    &.firefox { padding-top:1em; }
  }
  &.ios { @include position(fixed,null,0,0,0);
    .homescreen-help { text-align: center; }
    .android, .edge, .opera, .desktop-chrome { display: none; }
    span.arrow { display:block; text-align: center;  }
    .top-right-icon { display:none; }
  }
  &.edge { @include position(fixed,0,0); max-width: 16em;
    .ios, .android, .opera, .desktop-chrome { display: none; }
  }
  &.opera { @include position(fixed,0,0); max-width: 16em;
    .top-right-icon { padding-right: 2.1em; }
    .ios, .android, .edge, .desktop-chrome { display: none; }
  }
  &.desktop-chrome { @include position(fixed,0,0); max-width: 16em;
    .ios, .android, .edge, .opera { display: none; }
  }
  .homescreen-help { text-align: right; padding:0.5em 0.5em 1em 1em; }  
  span.arrow {
    svg { height: 1em; width: 1em; }
  }
  .button { color:$black; border:2px solid $black; padding:.25em 1em; cursor: pointer; display: inline-block; margin-top:0.5em; margin-bottom:0.5em;
    &:hover { color:$yellow; background:$black; border-color: $yellow; }
  }
  */ }
  .homescreen-help-holder .homescreen-help {
    background: white;
    color: #212121;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em; }
  .homescreen-help-holder svg {
    fill: currentColor; }
    .homescreen-help-holder svg * {
      fill: currentColor; }
  .homescreen-help-holder .help {
    text-align: right;
    line-height: 160%; }
    .homescreen-help-holder .help span {
      display: block; }
    .homescreen-help-holder .help svg {
      width: 0.8em;
      height: 0.8em; }
  .homescreen-help-holder.ios {
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100%; }
    .homescreen-help-holder.ios .help {
      text-align: center; }
  .homescreen-help-holder .button-holder {
    padding-top: 1em;
    text-align: center; }
    .homescreen-help-holder .button-holder button {
      font-size: 20px; }

@media all and (display-mode: standalone) {
  #AddToHomeScreen {
    display: none; } }
