// SERIF
@font-face {
  font-family: 'Quattrocento';
  src: url('../fonts/quattrocento.woff') format('woff');
}


@font-face {
  font-family: 'Neuton';
  src: url('../fonts/neuton.woff') format('woff');
}
@font-face {
  font-family: 'Neuton';
  src: url('../fonts/neuton-bold.woff') format('woff');
  font-weight:$bold;
}