main { @include flex-container(); justify-content: center; height:99vh; align-content: center; align-items: center; position: relative; padding:1.5em;
  .inner { max-width: 1200px; }
}
h3 { letter-spacing: 0.1em; text-transform: uppercase; font-weight: 400; display: block; }
blockquote { display:block; padding:0 1em; position: relative; margin-top: 0.35em; margin-bottom: 1em; line-height: 1.3;
  &:before { content:'“'; @include position(absolute,-0.25em,null,null,0); font-size:180%; font-family:"Times New Roman"; }
  &:after  { content:'”'; font-family:"Times New Roman"; }
}
.accent { display: block; padding:0 1em; margin-top: 0.35em; }

button { color:$body; font-size:2vw; background-color:$link;  border:2px solid $link; font-family: 'Neuton', serif; cursor: pointer; padding: 0.1em 1em; outline:none;
  //&:not([disabled]):hover { background-color:$link; color:$body;  }
  &:active { transform: scale(0.95); }
  &[disabled] { background-color:darken(desaturate($red,45%),8%); border-color:darken(desaturate($red,45%),8%); cursor:not-allowed; }
}

.phase { max-width: 1200px;
 
  &.quote {
    .button-holder { margin-top: 4em; }
  }
  &.pass { 
    h3 { font-size:6.5vw; }
    .button-holder { margin-top: 4em; }
  }
  &.guess { max-width:28vw;
    .buttons { margin-top: 2em; @include flex-container();
      button { margin-left: auto; margin-right: auto; margin-bottom: 0.5em; @include flex-item(100%); }
    }
  }
  &.correct { text-align: center;
    h2 { font-size:8em; }
    h4 { margin-top: 2em; margin-bottom: 2em; font-weight: $medium; font-size:1.8em; }
  }
  &.game-over {
    h2 { text-align: center; margin-bottom: 1em; font-size:5vw; }
  }
}


@media screen and (max-width:767px) {
  h3 { font-size:5vw; }
  blockquote, .accent { font-size:7vw; }
  button { font-size:24px; }
  .phase {
    &.pass {
      h3 { font-size:10vw; }
    }
    &.guess { width:100%; max-width:100%;
      .buttons { max-width:80%; margin-left: auto; margin-right: auto;  }
      h2 { font-size:5vw; margin-top: 1em; }
    }
    
  }
}

@media screen and (min-width:768px) and (max-width:1200px) {
  blockquote, .accent { font-size:4vw; }
}
@media screen and (min-width:1201px) {
  blockquote, .accent { font-size:3.1em; }
}