- var siteTitle = "♣️ BAD ACCENT CLUB ♣️"
- var siteURL = "http://badaccent.club"
- var description = "The game thjat bla bla bla"
- var launchDate = ""
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    include partials/_sidebar.pug
    main
      .inner
        h3 Read this quote:
        blockquote 
          | Patriotism is your conviction that this country is superior to all other countries because you were born in it.
        h3 In this accent
        strong.accent Chinese
  
    include partials/_javascripts.pug
    include partials/_schema.pug