- var siteTitle = "Bad Accent Club" 
- var siteURL = "http://badaccent.club"
- var description = "The game where you find out none of your freinds are good at accents"
- var launchDate = "2017-08-02"
- var fplusURL = "https://thefpl.us/also-made/bad-accent-club"
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    #app
      include partials/_sidebar.pug
      main
        .phase.quote(v-cloak v-if="phase == 'quote'")
          h3 Read this quote:
          blockquote(v-text="current.quote")
          h3 In this accent:
          strong.accent(v-text="current.accent")
          .button-holder
            button(type="button" v-on:click="phase = 'pass'") Alright, did that.
        .phase.pass(v-cloak v-if="phase == 'pass'")
          h3 Pass this to your friend.
          .button-holder
            button(type="button" v-on:click="phase = 'guess'") Okay, I'm the friend.
        .phase.guess(v-cloak v-if="phase == 'guess'")
          h3 So, what accent was that?
          .buttons()
            button(v-for="(choice,index) in current.choices" v-on:click="accentGuess(choice,index)" v-bind:disabled="guesses[index]") {{choice}}
          .incorrect
            h2 &nbsp;
              span(v-if="current.badguess") {{current.badguess}}
        .phase.correct(v-cloak v-if="phase == 'correct'")
          h2 Yes!
          h4 {{current.correctMessage}}
          .button-holder
            button(type="button" v-on:click="newRound") Okay, my turn.
        .phase.game-over(v-cloak v-if="phase == 'game over'")
          h2 Game over.
          h3 (we ran out of accents)
  
    include partials/_javascripts.pug
    include partials/_schema.pug